In [24]:
%reset -f
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
from linearmodels.iv import IV2SLS
import functions as fun
import statsmodels.formula.api as sm
import seaborn as sns
from matplotlib import pyplot as plt

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [25]:
df = pd.read_csv('dataset.csv')
Nobs=df['ID'].count()
df['Intercept']=np.ones((Nobs,1))
df.rename(columns={'Market share':'Market_share'}, inplace=True)
df2 = df[df['Market_share'] != 0]

df2.head(20)

,ID,Year,Market_share,Manufacturer,Model,Range,Price,HP,Chargetime,Type,Segment,Country,Sales,Intercept
8,1,2021,0.010373,Aiways,U5,400,284621.700,201,34,SUV,C,CN,257,1.0
9,1,2022,0.005976,Aiways,U5,400,313681.829,201,34,SUV,C,CN,183,1.0
10,1,2023,0.002860,Aiways,U5,400,264524.000,201,34,SUV,C,CN,177,1.0
21,2,2023,0.000048,Aiways,U6,405,360638.000,214,34,SUV,C,CN,3,1.0
28,3,2019,0.040630,Audi,e-tron,375,979704.475,402,17,SUV,F,DE,222,1.0
29,3,2020,0.034680,Audi,e-tron,375,890101.410,402,17,SUV,F,DE,491,1.0
30,3,2021,0.010494,Audi,e-tron,375,800035.193,402,17,SUV,F,DE,260,1.0
31,3,2022,0.017570,Audi,e-tron,375,789723.656,402,17,SUV,F,DE,538,1.0
32,3,2023,0.001099,Audi,e-tron,375,673037.728,402,17,SUV,F,DE,68,1.0
41,4,2021,0.003391,Audi,e-tron GT,472,1278896.110,522,17,Sedan,F,DE,84,1.0
42,4,2022,0.002090,Audi,e-tron GT,472,1287318.500,522,17,Sedan,F,DE,64,1.0
43,4,2023,0.000372,Audi,e-tron GT,472,1219342.000,522,17,Sedan,F,DE,23,1.0
52,5,2021,0.061231,Audi,Q4 e-tron,496,523778.222,281,28,SUV,C,DE,1517,1.0
53,5,2022,0.058130,Audi,Q4 e-tron,496,525536.206,281,28,SUV,C,DE,1780,1.0
54,5,2023,0.037958,Audi,Q4 e-tron,496,658553.070,281,28,SUV,C,DE,2349,1.0
65,6,2023,0.007255,Audi,Q8 e-tron,518,796974.400,335,27,SUV,E,DE,449,1.0
66,10,2013,0.002237,BMW,I3,295,250000.000,167,18,Hatchback,B,DE,1,1.0
67,10,2014,0.041751,BMW,I3,295,282999.667,167,18,Hatchback,B,DE,62,1.0
68,10,2015,0.124302,BMW,I3,295,282299.667,167,18,Hatchback,B,DE,490,1.0
69,10,2016,0.190756,BMW,I3,295,282300.000,167,18,Hatchback,B,DE,227,1.0

In [26]:
# Copy the dataframe
data = df2.copy().reset_index(drop=True)
data.head(20)

,ID,Year,Market_share,Manufacturer,Model,Range,Price,HP,Chargetime,Type,Segment,Country,Sales,Intercept
0,1,2021,0.010373,Aiways,U5,400,284621.700,201,34,SUV,C,CN,257,1.0
1,1,2022,0.005976,Aiways,U5,400,313681.829,201,34,SUV,C,CN,183,1.0
2,1,2023,0.002860,Aiways,U5,400,264524.000,201,34,SUV,C,CN,177,1.0
3,2,2023,0.000048,Aiways,U6,405,360638.000,214,34,SUV,C,CN,3,1.0
4,3,2019,0.040630,Audi,e-tron,375,979704.475,402,17,SUV,F,DE,222,1.0
5,3,2020,0.034680,Audi,e-tron,375,890101.410,402,17,SUV,F,DE,491,1.0
6,3,2021,0.010494,Audi,e-tron,375,800035.193,402,17,SUV,F,DE,260,1.0
7,3,2022,0.017570,Audi,e-tron,375,789723.656,402,17,SUV,F,DE,538,1.0
8,3,2023,0.001099,Audi,e-tron,375,673037.728,402,17,SUV,F,DE,68,1.0
9,4,2021,0.003391,Audi,e-tron GT,472,1278896.110,522,17,Sedan,F,DE,84,1.0
10,4,2022,0.002090,Audi,e-tron GT,472,1287318.500,522,17,Sedan,F,DE,64,1.0
11,4,2023,0.000372,Audi,e-tron GT,472,1219342.000,522,17,Sedan,F,DE,23,1.0
12,5,2021,0.061231,Audi,Q4 e-tron,496,523778.222,281,28,SUV,C,DE,1517,1.0
13,5,2022,0.058130,Audi,Q4 e-tron,496,525536.206,281,28,SUV,C,DE,1780,1.0
14,5,2023,0.037958,Audi,Q4 e-tron,496,658553.070,281,28,SUV,C,DE,2349,1.0
15,6,2023,0.007255,Audi,Q8 e-tron,518,796974.400,335,27,SUV,E,DE,449,1.0
16,10,2013,0.002237,BMW,I3,295,250000.000,167,18,Hatchback,B,DE,1,1.0
17,10,2014,0.041751,BMW,I3,295,282999.667,167,18,Hatchback,B,DE,62,1.0
18,10,2015,0.124302,BMW,I3,295,282299.667,167,18,Hatchback,B,DE,490,1.0
19,10,2016,0.190756,BMW,I3,295,282300.000,167,18,Hatchback,B,DE,227,1.0

In [27]:
#Scale for better intepretation

data['Price'] = data['Price']/10_000 #(Change in ms(%) for change in pris in 10.000)
data['HP'] = data['HP']/10           #(Change in ms(%) for change in HP in 10)
data['Range'] = data['Range']/10     #(Change in ms(%) for change in rækkevidde in 10)

In [28]:
# Creating dummy for china
data['China'] = (data['Country'] == 'CN').astype(int)

In [29]:
data = data.sort_values(['Year', 'ID']).reset_index(drop=True)

# IV

In [30]:
fun.GH(data, 'Range', 0.5)
fun.GH(data, 'HP', 0.5)
fun.GH(data, 'Chargetime', 0.5)

,ID,Year,Market_share,Manufacturer,Model,Range,Price,HP,Chargetime,Type,Segment,Country,Sales,Intercept,China,Range_GH,HP_GH,Chargetime_GH
0,10,2013,0.002237,BMW,I3,29.5,25.00000,16.7,18,Hatchback,B,DE,1,1.0,0,110.1,83.6,237
1,132,2013,0.472036,Nissan,Leaf,32.8,25.36900,14.7,43,Hatchback,C,JP,211,1.0,0,99.2,67.5,164
2,158,2013,0.205817,Renault,Zoe,36.5,17.31500,13.4,56,Hatchback,B,FR,92,1.0,0,128.7,67.5,139
3,167,2013,0.002237,Smart,Fortwo,12.7,21.04575,8.0,60,Hatchback,A,DE,1,1.0,0,185.3,84.2,139
4,173,2013,0.250559,Tesla,Model S,60.9,71.95631,67.5,30,Liftback,F,US,112,1.0,0,137.1,60.9,225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,187,2023,0.001277,Volkswagen,up!,25.6,17.48530,8.1,48,Hatchback,A,DE,79,1.0,0,3737.4,2269.0,2733
330,188,2023,0.008354,Volvo,C40,46.6,43.06649,40.2,28,SUV,C,SE,517,1.0,0,2212.4,1978.6,1813
331,189,2023,0.000065,Volvo,EX30,47.5,36.82450,26.8,28,SUV,B,SE,4,1.0,0,2189.4,1777.6,1813
332,190,2023,0.031752,Volvo,XC40,45.7,43.92666,40.2,28,SUV,C,SE,1965,1.0,0,2206.7,1978.6,1813
333,192,2023,0.000129,Voyah,Free,50.0,50.47685,48.2,55,SUV,E,CN,8,1.0,1,2315.6,1917.3,3104

In [31]:
formula = 'np.log(Market_share) ~ 1 + [Price ~ Range_GH + HP_GH + Chargetime_GH] + Range + HP + Chargetime + China '
IV = IV2SLS.from_formula(formula, data).fit(cov_type='robust')
IV.summary#.tables[1]

<class 'linearmodels.compat.statsmodels.Summary'>
"""
                           IV-2SLS Estimation Summary
================================================================================
Dep. Variable:     np.log(Market_share)   R-squared:                     -1.1894
Estimator:                      IV-2SLS   Adj. R-squared:                -1.2228
No. Observations:                   334   F-statistic:                    73.809
Date:                  Mon, May 27 2024   P-value (F-stat)                0.0000
Time:                          14:45:13   Distribution:                  chi2(5)
Cov. Estimator:                  robust

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
Intercept     -4.6767     1.4901    -3.1386     0.0017     -7.5972     -1.7562
Range          0.1395     0.0231     6.0487     0.0000      0.0943      0.1847
HP             0.1587     0.0585     2.7127     0.0067      0.0440      0.2734
Chargetime    -0.0478     0.0201    -2.3749     0.0176     -0.0872     -0.0083
China         -3.7943     0.6345    -5.9798     0.0000     -5.0380     -2.5507
Price         -0.1722     0.0448    -3.8463     0.0001     -0.2599     -0.0844
==============================================================================

Endogenous: Price
Instruments: Range_GH, HP_GH, Chargetime_GH
Robust Covariance (Heteroskedastic)
Debiased: False
"""

# Willingness to pay

In [32]:
alpha = IV.params[-1] # Price coefficient
beta = IV.params[:-1]
beta_alpha_ratio = [b / -alpha for b in beta[1:]] #Willingness to pay (excluding constant)

for i in range(len(IV.params.index[1:-1])): #[1:-1] to exclude constant and price
    print('W2P:', IV.params.index[1:-1][i], beta_alpha_ratio[i])

W2P: Range 0.8102751985243241
W2P: HP 0.9217635970210871
W2P: Chargetime -0.277364427731624
W2P: China -22.036887734646864

NOTE: English delimiter\
8,102 DKK for every 10 increase in Range\
9,217 DKK for every 10 increase in HP\
-2,773 DKK for every 10 increase in Chargetime\
-220,368 DKK for Chinese cars OR -22,036 DKK for Chinese cars???

# Logit

In [33]:
# IMPORTANT: The data must be sorted by year and ID before running the function
#             Because the CCPs returned by the function are sorted by year and ID
logit_data = data.sort_values(['Year', 'ID']).reset_index(drop=True)
X = logit_data[['Intercept', 'Range', 'HP', 'Chargetime', 'China']]
p_j = logit_data['Price']
logit_data['CCP'] = fun.ccp(alpha, beta, data, X)

In [34]:
probability_ratio = fun.probability_ratio(logit_data, 2023)
probability_ratio

Model,U5,U6,e-tron,e-tron GT,Q4 e-tron,Q8 e-tron,I3,i4,i5,I7,...,ID.3,ID.4,ID.5,ID.7,ID.Buzz,up!,C40,EX30,XC40,Free
Model,,,,,,,,,,,,,,,,,,,,,
U5,1.0,3.970191,0.661227,309.46,1.099154,3.547225,0.191381,0.166703,0.64086,18611907.065355,...,0.056947,0.016675,0.012484,0.015862,1.383754,0.469459,0.004839,0.01222,0.006362,0.488975
U6,0.251877,1.0,0.166548,77.945872,0.276852,0.893465,0.048205,0.041989,0.161418,4687912.269653,...,0.014344,0.0042,0.003144,0.003995,0.348536,0.118246,0.001219,0.003078,0.001602,0.123162
e-tron,1.51234,6.004278,1.0,468.008664,1.662295,5.364609,0.289434,0.252111,0.969199,28147527.162174,...,0.086123,0.025218,0.018879,0.023988,2.092706,0.709982,0.007318,0.018481,0.009621,0.739496
e-tron GT,0.003231,0.012829,0.002137,1.0,0.003552,0.011463,0.000618,0.000539,0.002071,60143.17542,...,0.000184,0.000054,0.00004,0.000051,0.004472,0.001517,0.000016,0.000039,0.000021,0.00158
Q4 e-tron,0.90979,3.612042,0.601578,281.543726,1.0,3.227231,0.174117,0.151665,0.583049,16932933.671975,...,0.05181,0.015171,0.011357,0.014431,1.258926,0.427109,0.004402,0.011118,0.005788,0.444865
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
up!,2.130111,8.456949,1.408487,659.18427,2.341321,7.555984,0.407664,0.355095,1.365104,39645435.162578,...,0.121303,0.035519,0.026591,0.033787,2.947549,1.0,0.010307,0.02603,0.013552,1.041571
C40,206.66263,820.49011,136.650926,63953.817335,227.15412,733.078856,39.551383,34.451229,132.441875,3846385654.771921,...,11.768748,3.44605,2.579877,3.278012,285.970167,97.019635,1.0,2.525395,1.314776,101.05281
EX30,81.83377,324.895698,54.110705,25324.278572,89.947942,290.2828,15.661461,13.641915,52.444015,1523082528.522111,...,4.66016,1.364558,1.021574,1.298019,113.237778,38.417601,0.395978,1.0,0.520622,40.014648
XC40,157.184665,624.053143,103.934757,48642.366545,172.770203,557.569382,30.082221,26.203116,100.733412,2925506383.997911,...,8.951143,2.621016,1.962218,2.493209,217.504854,73.791759,0.760586,1.92078,1.0,76.859334
Free,2.045095,8.119419,1.352272,632.875203,2.247875,7.254413,0.391393,0.340923,1.31062,38063124.339109,...,0.116461,0.034101,0.02553,0.032439,2.829908,0.960088,0.009896,0.024991,0.013011,1.0

In [35]:
logit_data['Model_year'] = logit_data['Model'] + '_' + logit_data['Year'].astype(str)
marginal_effects = fun.marginal_effects(logit_data, IV)
marginal_effects

             Intercept     Range        HP Chargetime     China     Price
Model_year
I3_2013      -0.098474  0.002938  0.003342  -0.001006 -0.079895 -0.003625
Leaf_2013    -0.032786  0.000978  0.001113  -0.000335   -0.0266 -0.001207
Zoe_2013     -0.094815  0.002829  0.003218  -0.000968 -0.076926 -0.003491
Fortwo_2013  -0.000645  0.000019  0.000022  -0.000007 -0.000524 -0.000024
Model S_2013 -0.231587  0.006909  0.007859  -0.002365 -0.187892 -0.008526
...                ...       ...       ...        ...       ...       ...
up!_2023     -0.001102  0.000033  0.000037  -0.000011 -0.000894 -0.000041
C40_2023     -0.104451  0.003116  0.003545  -0.001067 -0.084744 -0.003846
EX30_2023    -0.041945  0.001251  0.001423  -0.000428 -0.034031 -0.001544
XC40_2023    -0.079889  0.002383  0.002711  -0.000816 -0.064816 -0.002941
Free_2023    -0.001058  0.000032  0.000036  -0.000011 -0.000858 -0.000039

[334 rows x 6 columns]

In [36]:
marginal_effects[IV.params.index].mean()

Intercept    -0.090564
Range         0.002702
HP            0.003073
Chargetime   -0.000925
China        -0.073477
Price        -0.003334
dtype: float64

In [37]:
elasticity = fun.elasticity(logit_data, IV)
elasticity

             Intercept     Range        HP Chargetime     China     Price
Model_year
I3_2013      -4.576045  4.027078  2.593412  -0.841122      -0.0 -4.211875
Leaf_2013    -4.643666  4.543731  2.316558  -2.039039      -0.0 -4.337201
Zoe_2013     -4.579865  4.986816  2.082679  -2.619007      -0.0  -2.91958
Fortwo_2013  -4.676039  1.771575  1.269501  -2.865005      -0.0 -3.623162
Model S_2013 -0.244354   0.44393  0.559742  -0.074858      -0.0 -0.647342
...                ...       ...       ...        ...       ...       ...
up!_2023     -4.675583  3.570701  1.285244   -2.29178      -0.0 -3.009914
C40_2023      -4.56979  6.352724  6.234292  -1.306623      -0.0 -7.245711
EX30_2023    -4.634357  6.566907  4.214917  -1.325084      -0.0 -6.283065
XC40_2023    -4.595382  6.264922  6.269205   -1.31394      -0.0 -7.431818
Free_2023    -4.675627  6.974091  7.648067  -2.626023 -3.793459 -8.689151

[334 rows x 6 columns]

In [38]:
elasticity[IV.params.index].mean()

Intercept    -4.522662
Range         5.275402
HP            3.780338
Chargetime   -1.581019
China        -0.442494
Price        -7.780701
dtype: float64

# Cost

In [39]:
logit_data['Cost']=fun.cost(logit_data, alpha)
fun.cost_firm(logit_data, alpha)
logit_data

,ID,Year,Market_share,Manufacturer,Model,Range,Price,HP,Chargetime,Type,...,Sales,Intercept,China,Range_GH,HP_GH,Chargetime_GH,CCP,Model_year,Cost,firm_cost
0,10,2013,0.002237,BMW,I3,29.5,25.00000,16.7,18,Hatchback,...,1,1.0,0,110.1,83.6,237,0.021519,I3_2013,24.875018,24.875018
1,132,2013,0.472036,Nissan,Leaf,32.8,25.36900,14.7,43,Hatchback,...,211,1.0,0,99.2,67.5,164,0.007060,Leaf_2013,25.327995,25.327995
2,158,2013,0.205817,Renault,Zoe,36.5,17.31500,13.4,56,Hatchback,...,92,1.0,0,128.7,67.5,139,0.020703,Zoe_2013,17.194762,17.194762
3,167,2013,0.002237,Smart,Fortwo,12.7,21.04575,8.0,60,Hatchback,...,1,1.0,0,185.3,84.2,139,0.000138,Fortwo_2013,21.044949,21.044949
4,173,2013,0.250559,Tesla,Model S,60.9,71.95631,67.5,30,Liftback,...,112,1.0,0,137.1,60.9,225,0.947751,Model S_2013,66.451900,66.451900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,187,2023,0.001277,Volkswagen,up!,25.6,17.48530,8.1,48,Hatchback,...,79,1.0,0,3737.4,2269.0,2733,0.000236,up!_2023,17.483932,17.341347
330,188,2023,0.008354,Volvo,C40,46.6,43.06649,40.2,28,SUV,...,517,1.0,0,2212.4,1978.6,1813,0.022857,C40_2023,42.933741,42.780207
331,189,2023,0.000065,Volvo,EX30,47.5,36.82450,26.8,28,SUV,...,4,1.0,0,2189.4,1777.6,1813,0.009051,EX30_2023,36.771934,36.538217
332,190,2023,0.031752,Volvo,XC40,45.7,43.92666,40.2,28,SUV,...,1965,1.0,0,2206.7,1978.6,1813,0.017385,XC40_2023,43.825693,43.640377
333,192,2023,0.000129,Voyah,Free,50.0,50.47685,48.2,55,SUV,...,8,1.0,1,2315.6,1917.3,3104,0.000226,Free_2023,50.475536,50.475536

In [40]:
cost_side = sm.ols('firm_cost ~ Price + Range + HP + Chargetime + China', logit_data).fit(cov_type='HC3')
cost_side.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              firm_cost   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 2.532e+05
Date:                Mon, 27 May 2024   Prob (F-statistic):               0.00
Time:                        14:45:14   Log-Likelihood:                -319.26
No. Observations:                 334   AIC:                             650.5
Df Residuals:                     328   BIC:                             673.4
Df Model:                           5
Covariance Type:                  HC3
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.4830      0.152      3.177      0.001       0.185       0.781
Price          1.0140      0.002    435.468      0.000       1.009       1.019
Range         -0.0146      0.005     -3.169      0.002      -0.024      -0.006
HP            -0.0377      0.007     -5.543      0.000      -0.051      -0.024
Chargetime    -0.0009      0.003     -0.344      0.731      -0.006       0.004
China          0.6490      0.114      5.683      0.000       0.425       0.873
==============================================================================
Omnibus:                      204.000   Durbin-Watson:                   1.486
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1801.799
Skew:                          -2.452   Prob(JB):                         0.00
Kurtosis:                      13.267   Cond. No.                         450.
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC3)
"""

# Analysis on subsample

### The subsample consists of the 2023 market with:
The 5 highest market share models: Model Y, Model 3, Enyag iV, ID.4 and Q4 e-tron\
The 5 highest market share chinese models: 4, Euniq6, Atto 3, Marvel R and Dolphin\
The highest ccp model: Ocean\
The highest ccp chinese model: Seal\
The highest ccp korean model (so we have models outside EU, US and china): Ioniq 6\
The highest priced model: I7\
Polestar 2 as a random interest

In [41]:
analysis_data = logit_data[logit_data['Year']==2023].copy()
analysis_data = analysis_data[analysis_data['Model'].isin(['I7', 'Model 3', 'Model Y', 'ID.4', 'Enyaq iV', 'Ocean' , '2', 'Ioniq 6', 'Q4 e-tron'
                                                           , '4', 'Euniq6', 'Atto 3', 'Marvel R', 'Dolphin', 'Seal'])]
analysis_data.reset_index(drop=True, inplace=True)
analysis_data

,ID,Year,Market_share,Manufacturer,Model,Range,Price,HP,Chargetime,Type,...,Sales,Intercept,China,Range_GH,HP_GH,Chargetime_GH,CCP,Model_year,Cost,firm_cost
0,5,2023,0.037958,Audi,Q4 e-tron,49.6,65.855307,28.1,28,SUV,...,2349,1.0,0,2315.6,1725.6,1813,1.006226e-04,Q4 e-tron_2023,65.854723,65.853568
1,13,2023,0.000679,BMW,I7,60.1,186.519444,44.9,28,Sedan,...,42,1.0,0,3748.1,1894.3,1813,5.942419e-12,I7_2023,186.519444,186.503955
2,17,2023,0.003587,BYD,Atto 3,42.0,31.000000,20.1,37,SUV,...,222,1.0,1,2569.2,1501.0,2195,5.789713e-05,Atto 3_2023,30.999664,30.765739
3,18,2023,0.003280,BYD,Dolphin,42.7,23.323517,9.3,40,Hatchback,...,203,1.0,1,2605.7,2235.6,2006,3.736496e-05,Dolphin_2023,23.323300,23.089256
4,20,2023,0.000517,BYD,Seal,54.0,32.062000,52.2,38,Sedan,...,32,1.0,1,2900.5,2103.5,2184,4.000624e-02,Seal_2023,31.829649,31.827739
5,49,2023,0.004686,Fisker,Ocean,70.0,60.237920,56.3,35,SUV,...,290,1.0,0,4079.7,2167.7,2066,2.866346e-01,Ocean_2023,58.573184,58.573184
6,69,2023,0.003199,Hyundai,Ioniq 6,56.7,43.629166,32.0,16,Sedan,...,198,1.0,0,3065.5,1958.7,3157,4.098131e-02,Ioniq 6_2023,43.391152,43.330349
7,100,2023,0.003991,Maxus,Euniq6,35.4,37.950676,17.4,45,MPV,...,247,1.0,1,3271.4,1752.3,2407,3.097333e-06,Euniq6_2023,37.950658,37.950563
8,117,2023,0.011990,MG,4,42.7,26.589191,24.1,41,Hatchback,...,742,1.0,1,2605.7,1700.9,2054,2.126383e-04,4_2023,26.587956,26.587376
9,119,2023,0.003361,MG,Marvel R,38.8,30.235650,17.7,38,SUV,...,208,1.0,1,3041.5,1752.3,2184,2.752711e-05,Marvel R_2023,30.235490,30.233836
10,149,2023,0.032674,Polestar,2,51.3,38.989190,41.5,28,Liftback,...,2022,1.0,0,2459.4,1978.6,1813,1.092147e-01,2_2023,38.354885,38.354885
11,165,2023,0.049592,Skoda,Enyaq iV,49.6,43.194958,28.1,28,SUV,...,3069,1.0,0,2315.6,1725.6,1813,4.979284e-03,Enyaq iV_2023,43.166039,43.166039
12,172,2023,0.067949,Tesla,Model 3,54.2,35.899100,27.8,25,Sedan,...,4205,1.0,0,2900.5,1725.6,2066,3.655827e-02,Model 3_2023,35.686774,33.733136
13,175,2023,0.290103,Tesla,Model Y,50.6,40.555440,50.6,27,SUV,...,17953,1.0,0,2482.3,2103.5,1879,3.362962e-01,Model Y_2023,38.602276,38.389476
14,183,2023,0.041076,Volkswagen,ID.4,50.2,42.015800,28.1,28,SUV,...,2542,1.0,0,2404.2,1725.6,1813,6.632765e-03,ID.4_2023,41.977278,41.871847

In [42]:
cross_elasticity = fun.cross_elasticity_1(analysis_data, IV)
cross_elasticity

/Users/valther/Desktop/Bachelorprojekt/Bachelor/functions.py:219: PerformanceWarning: indexing past lexsort depth may impact performance.
  cross_elasticity_table.loc[(model_labels[i], model_labels[j], X.columns[k]), 'Cross_Elasticity'] = -coefficients[k] * X.iloc[j, k] * ccp.iloc[j]

                                         Cross_Elasticity
Model_year     Model_year
Q4 e-tron_2023 Q4 e-tron_2023 Intercept          0.000471
                              Range             -0.000696
                              HP                -0.000449
                              Chargetime         0.000135
                              China                   0.0
...                                                   ...
ID.4_2023      ID.4_2023      Range             -0.046453
                              HP                 -0.02958
                              Chargetime         0.008869
                              China                   0.0
                              Price              0.047983

[1350 rows x 1 columns]